# Node.js
node_modules/
npm-debug.log

# Docker
docker-compose.yml

# Vercel
.vercel/

# Environment variables
.env

/site

apps\docs\site\

# MkDocs build directory
/site/

# Python virtual environment
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Editor & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.swp
*.swo

# mkdocs-material theme overrides (if using)
overrides/__pycache__/

# MkDocs build directory
/site/
site/
# Python virtual environment
venv/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Editor & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.swp
*.swo

# mkdocs-material theme overrides (if using)
overrides/__pycache__/

auth.md
un.md
challenge.md
projects.md
body.md

uploads/